.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 2rem;
    height: 30dvh;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerLink {
    text-decoration: none;
    color: gray;
}

.footerLink:hover {
    color: white;
}

.qrCode {
    max-width: 150px;
    margin: 1rem 0;
}