.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 2rem;
    min-height: 30dvh;
}

.footerSection {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    gap: 0.5rem;
}

.footerSection p {
    margin: 0;
    line-height: 1.4;
}

.footerLink {
    text-decoration: none;
    color: white;
}

.footerLink:hover {
    color: gray;
}

.qrCode {
    max-width: 5rem;
}