.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 2rem;
    min-height: 30dvh;
}

.footerSection {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    gap: 0.5rem;
}

.footerSection p {
    margin: 0;
    line-height: 1.4;
}

.footerLink {
    text-decoration: none;
    color: white;
}

.footerLink:hover {
    color: gray;
}

.donateButton {
    background: #ff6b6b;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.3s;
}

.donateButton:hover {
    background: #ff5252;
}