header {
    display: flex;
    justify-content: space-between;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
}